body {
  overflow-y: scroll;
}

h1 {
  font-size:36px;
  font-weight:300;
  margin-bottom:20px;
}

h2 {
  font-weight:300;
  margin-bottom:10px;
}

h3 {
  margin-bottom:10px;
}

// Contextual texts
.text-info { color: $info-color; }
.text-success { color: $success-color; }
.text-notice { color: $notice-color; }
.text-danger { color: $danger-color; }

.contain {
  max-width:1480px;
  padding:0 20px;
  margin:0 auto;
}

.center-text {
  text-align:center;
}

.desktop-only {
  @media (max-width: 1024px) {
    display:none;
  }
}
