$radius:5px;

.flashy {

}

#app {
  min-height:1024px;
  transition:background 0.5s ease;
}

body {
  font-family:'Raleway', sans-serif;
  min-height:100%;
}

hr {
  border:0;
  width:100%;
  height:1px;
  margin:20px 0;
}

nav {
  padding:25px 45px;
  overflow: hidden;

  .logo {
    cursor: pointer;
    float:left;
    font-size:45px;
    font-weight:300;

    img {
      height: 46px;
      vertical-align: top;
      filter: brightness(70%) hue-rotate(180deg);
      margin-right:20px;
    }
  }

  .links {
    float:right;

    .link {
      height: 48px;
      line-height: 45px;
      padding: 0 30px;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 800;
      display: inline-block;
      margin-left: 8px;
      background:transparent;

      transition: all 0.2s ease;
      transition-property: background, color;
    }
  }

  .switcher {
    overflow: hidden;
    float:right;
    margin-left:10px;
    border-radius:5px;

    .switch {
      cursor: pointer;
      height:48px;
      background:rgba(0,0,0,0.2);
      float:left;
      box-shadow:inset 0 -15px 50px -10px rgba(0,0,0,0.2);
      transition: all 0.5s ease-in;
      transition-property: width;

      $small-width:8px;
      $long-width:40px;

      &:last-child {
        background:#fff;
        width:$small-width;

        &.selected {
          width:$long-width;
        }
      }

      &:first-child {
        background:#666;
        width:$small-width;

        &.selected {
          width:$long-width;
        }
      }
    }
  }

  @media (max-width:1024px){
    text-align:center;
    width:100%;

    .logo {
      width:100%;
      text-align:center;
      margin-bottom:20px;
      font-size:36px;

      span {
        width:100%;
        display:block;
      }

      img {
        display:inline-block;
        height:100px;
        margin-bottom:20px;
      }
    }

    .switcher {
      display:none;
    }

    .links {
      float:none;
      display:inline-block;

      .link {
        height: 48px;
        line-height: 45px;
        padding: 0 30px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800;
        display: inline-block;
        margin-left: 8px;
        background:transparent;

        transition: all 0.2s ease;
        transition-property: background, color;
      }
    }
  }
}

.box {
  border-radius:$radius;
  padding:35px;
  max-width:640px;
}

.cta {
  button {
    margin:0 0 20px 0;
    outline:0;
    cursor: pointer;
    height:70px;
    font-size:28px;
    border-radius:$radius;
    text-transform: uppercase;
    padding:0 35px;
    background:transparent;
    opacity:1;
    box-shadow: 0 0 150px rgba(255,255,255,0.1);

    transition: all 0.2s ease;
    transition-property: background, color, opacity;
  }
}

.chain-nav {
  margin-top:20px;

  button {
    outline:0;
    cursor: pointer;
    height:40px;
    font-size:14px;
    //border-radius:2px;
    text-transform: uppercase;
    padding:0 15px;
    background:transparent;
    opacity:1;
    box-shadow: 0 0 150px rgba(255,255,255,0.1);

    transition: all 0.2s ease;
    transition-property: background, color, opacity;

    &.mobile-full {
      @media (max-width:1024px){
        width:100%;
      }
    }
  }

  @media (max-width:1024px){
    button {
      width:50%;

      &.full {
        width:100%;
      }
    }
  }
}


$input-height: 40px;

.input-container {
  display: flex;
  flex-wrap: wrap;

  input {
    outline:0;
    height:$input-height;
    padding:0 15px;
    border-radius:$radius;
    background:transparent;
    flex-grow: 1;
    min-width: 25%;

    &:not(.alone){
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    cursor: pointer;
    font-weight:800;
    text-transform: uppercase;
    height:$input-height;
    padding:0 35px;
    border-radius:$radius;
    border:0;
    outline:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.big {
    input, button {
      font-size:22px;
      font-weight:500;
      height:60px;
    }
  }
}

table {
  width:100%;
  border-spacing: 0;
  border-collapse: separate;

  thead {
    border:0;
    text-align:left;

    tr {
      height:40px;

      th {
        padding:0 10px;
      }
    }

  }

  tbody {

    tr {
      height:100px;
      background:transparent;
      transition: background 0.1s ease, transform 0.2s ease;

      td {
        padding-left:10px;
        text-align:left;

        &:first-child { text-align:left; }
        &:last-child { text-align:right; }

        button {
          outline:0;
          cursor: pointer;
          height:50px;
          border-radius:2px;
          background:transparent;
          text-transform: uppercase;
          padding:0 25px;

          transition: all 0.2s ease;
          transition-property: background, color;
        }
      }
    }
  }
}