
.footer {
  @extend .contain;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
  padding: 1em 2em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      display: inline;
      padding: 0 1em;
    }
  }

  .logo {
    height: 40px;
    filter: $logo-color;
  }

  &-nav,
  &-links {
    min-width: 30%;
  }

  &-links {
    text-align: right;
  }
}
