
.navbar-nav {

    .nav-item {

        & > .nav-link {
            color: $navigation-link-color;

            &:hover {
                color: $navigation-link-hover-color;
            }
        }

        &.active > a {
            color: $navigation-link-active-color;

            &:hover {
                color: $navigation-link-active-hover-color;
            }
        }

    }
}
