

// ---------------------------
//  Colors
// ---------------------------

// Contextual colors
$info-color:            #1779ba;
$success-color:         #1b9448;
$notice-color:          #cc8b00;
$danger-color:          #cc4b37;

// Theme

$theme-light-primary-color: #767676;
$theme-light-secondary-color: #f6f0f3;
$theme-light-accent-color: #a8a8a8;
$theme-light-background-color: #f6f0f3;
$theme-light-highlight-color: #4068cb;

$theme-dark-primary-color: #55cfbc;
$theme-dark-secondary-color: #557d9c;
$theme-dark-accent-color: #071d29;
$theme-dark-background-color: #031017;
$theme-dark-highlight-color: yellow;

// ---------------------------
//  Typography
// ---------------------------
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.3;
